<module>
	<rawname>usersets</rawname>
	<name>User Sets</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Third Party Addon</category>
	<description>Allow creation of lists of permitted users that can be used by other modules (eg, outbound routes).</description>
	<menuitems>
		<usersets>User Sets</usersets>
	</menuitems>
</module>
